<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    
    <p>Welcome to the chat</p> 

    <div class="chatBox">

      <div class="showMessage">
        <div class="newMessage"></div>
        <div class="typingMessage show"></div>
      </div>

      <form name="sendMessage" class="sendMessage"  action="">
        <input name="name" class="name" type="text" placeholder="Enter your name">
        <input name="message" class="message" type="text" placeholder="Type a message">
        <button type="submit" class="btn">Send</button>
      </form>

    </div>
   
  </body>
  <script src="/js/mainClient.js"></script>
</html>
