body{
  margin: 20px;
}

p {
  text-align: left;
  color: green;
  font-weight: bold;
  font-size: 30px;
  margin: 7px;
  padding-left: 100px;
}

.chatBox {
  height: 400px;
  width: 500px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border: solid 1.5px #59bd59;
  position: absolute;
  background-color:rgb(244, 253, 244);
}

.sendMessage {
  position: absolute; 
  bottom: 15px;
}

.name {
  width: 140px;
}

.message {
  width: 240px;
}

.name, .message {
  border-radius: 5px;
  border: solid 1.5px #59bd59;
  padding: 3px;
  background-color: #e7f1e7
}

input::-webkit-input-placeholder{
  color: #268326;
  }

.btn {
  border-radius: 5px;
  background-color: #59bd59;
  border: solid 1.5px  #379e37;
  padding: 3px;
  width: 70px;
  color: #052b05
}

.msg {
  width: 400px;
  border: solid 1.5px  #78cc78;
  border-radius: 5px;
  padding: 2px;
  margin: 7px;
  background-color: #d5ebd5;
}

.typingMessage {
  width: 400px;
  margin: 7px;
  padding: 3px;
}
